<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícia</title>
		</head>
	<body>

		<h1>Noticia</h1>
		<table>
			<tr>
				<td>id</td>
				<td>Titulo</td>
				<td>Noticia</td>
			</tr>

				<tr>
					<td><%= noticia[1].id_noticias  %> </td>
					<td><%= noticia[1].titulo  %> </td>
					<td><%= noticia[1].noticias %> </td>

				</tr>
		</table>

	</body>
</html>